*{margin: 0 auto;}

body{
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
	flex: 1 0 auto;
}

#fondoGris
{
	background-color: #eeeeee;
}

.separadores
{
	height: 60px;
}

.bordeSolidoNegro
{
	background: transparent;
	color: #000;
	border: 1px solid;
}

#barraNavegacion, nav
{
	background: transparent;
	color: #fff;
}

.right{
	color: #006699;
}

.text-black{
	color: #006699;
}

.row.{
	padding-top:10px; padding-left:60px; text-align:left;
}
 